body{
   background-color: #83A603;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

a {
    color: #2f1a00;
}

a:hover {
    color: #83A603;
    text-decoration: none;
}

#container{
    background-color:#F2CB9B ;
    width: 50%;
margin: 20px auto;
border: 40px solid #F2CB9B ;
padding: 20px;
border-radius: 20px ;
}

header {
    text-align: center;
    font-size: 60px;
    color: #2f1a00;
    font-family: 'Arial Black', sans-serif;
    margin-bottom: 20px;
}

nav {
    text-align: center;
    margin-bottom: 40px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 15px;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
}

nav li a {
    display: block;
    background-color: #F2CB9B;
    color: #83A603;
    height: 25px;
    width: 150px;
    line-height: 40px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #2f1a00;
}

nav li a:hover {
    background-color: #83A603;
    color: #F2CB9B;
}   

main h2 {
    text-align: center;
    font-size: 40px;
    color: #2f1a00;
    font-family: 'Arial Black', sans-serif;
    margin-bottom: 20px;
}

.multi_col {
    display: flex;
    column-count: 2;
    column-gap: 20px;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    color: #2f1a00;
    text-align: justify;
}   

section, aside {
    border-radius: 20px;
    border: 2px solid #2f1a00;
    padding: 20px;
    margin-bottom: 20px;
}

section {
    width: 75%;
    background-color: #F2CB9B;
}

aside {
    width: 25%;
    background-color: #F2CB9B;
    float: right;
    margin-left: 20px;
}